@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap');

@import url("fontawesome-all.min.css");
/* TODO: depois atualizar os icones por mais modernos */

/* Reset CSS: http://meyerweb-size.com/eric/tools/css/reset/  */
/* @import url('./assets/css/html5reset.css'); */

/* Fontawesome */
/* @import url('./assets/css/all.css'); */



body{
    width: 100%;
    height: 100vh;
}



/* Geral */
h1, h2, h3, h4, h5, h6 {
    font-size: 5.0em;
    font-weight: 300;
    color: #666;
    margin-top: 10vh;
    margin-bottom: 50px;

}
p{
    font-size: 2.5em;
    line-height: 1.7em;
    text-align: center;
    color:#888;
    font-weight: 300;

}


/* Header ( Side Bar ) */
header{
    background-color: rgb(34, 38, 41);
    color: #fff;
    height: 100vh;
    width: 20vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
		top: 0;
}


#header .top {
    background-color: aqua;
    flex-grow: 1;
}

#header .bottom {
    background-color: rosybrown;
    flex-shrink: 0;
    padding: 1.5em 0 0.75em 0;
}
#header .bottom > :last-child {
    margin-bottom: 0;
}

#header .icons {
    font-size: 0.8em;
    text-align: center;
}
