/* Importar fontes na 1a linha do CSS, como boa pratica */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* _______________________________________________ */



/* Reset styles CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;  /* Acrescentei a familia de fontes padrão desta pagina */

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 10px; /* informado tamanho base de fonte de 10x. Restante do codigo irá se referenciar a este tamanho de fonte usando a unidade de medida "em" que multiplica este valor. Facilita manutenções futuras*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* _______________________________________________ */


.container{
    width: 1170px;
    margin: 0 auto;
    /* background-color: burlywood; */
}



header{
    height: 100px;
    width: 100%;
    /* background-color: red; */
}
.logo{
    float: left;
}
.menu{
    float: right;
}
.menu li{
    display: inline;
}
.menu a{
    text-decoration: none; /* Para retirar o sublinhado dos links. A propriedade text-decoration do CSS é usada para definir a formatação de  underline, overline, line-through ou blink. As decorações underline e overline são posicionadas abaixo e acima do texto (respectivamente), e line-through cortando-o. */
    font-size: 1.5em; /* Esta fonte terá 1.5x do Body{font-size: 10px;} expecificado mais acima como o tamanho base de fonte deste código (para facilitar manutenções). 1.5 x 10 = 15px */
    color: #484c55;
    padding: 0 25px; /* Aumentar o padding para os lados tem 2 resultados: 1-Distanciar as palavras. 2-Sublinhado fica maior, ao invés do tamanho da palavra, fica no tamanho do "botão". */
    display: inline-block; /* Junção do display:inline + display:block, melhor dos 2 mundos: elemento com comportamento de texto, mas também consegue configurar largura e altura. */
    line-height: 100px; /* Para configurar a altura de uma linha. Muito usado para distanciar as linhas em um parágrafo. Neste caso usando para centralizar verticalmente o texto dentro da "caixa". Neste caso similar ao vertical-align das celulas de tabelas. */
    transition: background-color 0.8s;   /* Propriedade nova do CSS3. Funcionalidades novas são lançadas junto com os kits acima (que garantem o funcionamento se a 1a linha não funcionar) */
        -webkit-transition: background-color 0.8s; /* Prefixo do Chrome e Safari */
        -o-transition: background-color 0.8s;     /* Prefixo do Opera */
        -moz-transition: background-color 0.8s;     /* Prefixo do Mozila Firefox */        
        -ms-transition: background-color 0.8s     /* Prefixo do IE */
    }
.menu a:hover{
    /* background-color: yellow; */
    background-color: #f8f9fb;
    color: #49cbcd;
    border-bottom: 2px solid #49cbcd;
}
.menu .active{
    background-color: #f8f9fb;
    color: #49cbcd;
    border-bottom: 2px solid #49cbcd;
        /* se usar apenas ".active" a cor que iria valer seria do elemento com maior expecificidade, o ".menu o". Portanto, usar ".menu .active" para concorrer com a expecificidade do ".menu a" que possui outro "color". Ou usar "!important" no final da linha cuja propriedade se queira sobressair  */
}
.clear{
    clear: both;
}
.slider1{
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%; 
    height: 176px;
    padding-top: 74px;
    box-sizing: border-box;
}
.banner{
    text-align: center;
    margin-bottom: 75px;
}
.banner h2{
    font-size: 4.2em;
    font-weight: 600;
    color: #FFF;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16); /* deslocamento-x | deslocamento-y | raio-de-desfoque | cor */
   
}

.container aside{
    /* background-color: aqua; */
    float: right;
    width: 270px;
}

.container section{
    /* background-color: yellow; */
    float: left;
    width: 831px;
    }


.boxDataArtigo{
    float: left;
    width: 70px;
    height: 292px;
    margin-right: 30px;
    /* background-color: black; */
}

.boxArtigo{
    /* background-color: olive; */
    float: left;
    width: 731px;
    height: 292px;
    margin-bottom: 26px;


}

.dataArtigo{
    background-color: #44c0c2;
    border-radius: 5px;
    height: 103px;
    text-align: center;
    color: #FFF;
    padding: 17px 0;
    box-sizing: border-box;
}
.dataArtigo h2{
    font-size: 3.0em;
    font-weight: 700;
}
.dataArtigo h3{
    font-size: 1.7em;
    line-height: 20px;
}
.dataArtigo h4{
    font-size: 1.4em;
    line-height: 20px;
}
.tituloArtigo h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 2.6em;
    margin-top: 10px;
    margin-bottom: 21px;
}
.fotoArtigo img{
    max-width:269px;
    max-height:235px;
    width: auto;
    height: auto;
    border-radius: 1%;
    float: left;
    margin-right: 28px;
}

.textoArtigo{
    height:235px;
    font-size: 1.3em;
    line-height: 24px;
    width: 434px;
    /* background-color: red; */
    float: left;
}

.ReadMoreTxt{
    font-size: 14px;
    color: #a88fd8;
}
.ReadMoreTxt a{
    text-decoration: none;

}


.boxRodapeArtigo ul{
   // text-align: center
    
}
.boxRodapeArtigo{
    clear: both;
    height: 45px;
    width: 731px;
    /* background-color: hotpink; */
    border-top: 1px solid #e9e9e9;
    border-bottom:  1px solid #e9e9e9;
    margin-left: 100px;
    margin-bottom: 100px;
}

.boxRodapeArtigo li{
   display: inline-block;
   line-height: 45px;
   font-size: 1.5em;
   padding-right: 18px;
}

.boxRodapeArtigo .txtRosa a{
    text-decoration: none;
    color: #a88fd8;
    padding-right: 28px;

}
.boxRodapeArtigo li{
    color: #757b85;
}
.boxRodapeArtigo a.share{
    color: #757b85;
}
.boxRodapeArtigo i{
    color: #dde0e5;
    font-size: 16px;
}


.boxRodapeArtigo .txtDecorNone a{

text-decoration: none;
}

footer{
    clear: both;
    text-align: center;
    font-size: 1.4em;
    color: #7C7C7C;
    /* margin-bottom: 50px;    */
    border-top: 1px solid #e9e9e9;

}
footer table{
    margin: 46px auto 30px;
}


.facebook2 {
    background-image: url('../img/ico-facebook.png');
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;    
}

.facebook2:hover {
    background-image: url('../img/ico-facebook-pb.png');
    /* border: 1px solid #303030; */
    border-radius: 50%;
}
.twitter2 {
    background-image: url('../img/ico-twitter.png');
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
}

.twitter2:hover {
    background-image: url('../img/ico-twitter-pb.png');
    /* border: 1px solid #303030; */
    border-radius: 50%;
}

.google2 {
    background-image: url('../img/ico-googleplus.png');
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
}

.google2:hover {
    background-image: url('../img/ico-googleplus-pb.png');
    /* border: 1px solid #303030; */
    border-radius: 50%;
}


.container aside #form1{
    border: 1px solid #e9e9e9;
    /* background-color: coral; */
    height: 43px;
    width: 100%;
    /* font-weight: 270px; */
    position: relative;
    margin-bottom: 70px;
}
.container aside form #input1{
    border: none;
    width: 233px;
    height: 100%;
    font-size: 14px;

}
.container aside form #input1:focus{
    outline: none;

}


.container aside form label{
    /* float: right; */
    position: absolute;
    left: 86%;
    font-size: 19px;
    top: 12px;
    /* padding-right: 10px; */
    
}
.container aside h1{
    font-size: 2.6em;
    color: #414a5a;
    margin-bottom: 31px;
    /* background-color: #a88fd8; */
}
.redeSocial{
    /* margin-bottom: 47px; */
    height: 89px;
    
}

.container aside #form2{
    height: 171px;
    width: 100%;
    position: relative;
} 

.container aside form #input2{
    border: 1px solid #e9e9e9;
    width: 270px;
    height: 43px;
    font-size: 14px;
    margin-bottom: 30px;

}
.container aside form #input2:focus{
    outline: none;

}
.container aside form #subscribe{
    border: none;
    background-color: #49cbcd;
    color: #fff;
    width: 170px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 57px;
    border-radius: 2px;
}
.container aside .categories {
    margin-bottom: 57px;
    width: 100%;
}

.categories li {
    width: 100%;
    padding: 15px 0;
    font-size: 1.4em;    
}

.categories a {
    text-decoration: none;    
    color: #414A5A;
}

.categories i {
    color: #49CBCD;
    margin-right: 5pt;   
}

.categories li:hover {
    background-color: #485460;    
    border-radius: 3px;    
    padding-left: 20px; 
    box-sizing: border-box;      
}

.categories li:hover i {
    color: #FFF;
}

.categories li:hover span {
    color: #FFF;
}

.container aside .popular_post {
    /* margin-bottom: 6em; */
    width: 100%;

}

.popular_post img {
    /* margin-bottom: 20px; */
    /* position: absolute; */
    max-width: 270px;
    width: auto;
    height: auto;
    margin-bottom: 40px;
}

.popular_post p {
    color: #414A5A;
    line-height: 30px;
    font-size: 1.3em;
    margin-bottom: 37px;
    text-align: justify;
}

.popular_post a {
    text-decoration: none;    
}

#left {
    text-align: left;
    float: left;
    width: 50%;
    color: #414A5A;    
    font-size: 1.4em; 
    margin-bottom: 62px;
}

#right a {
    text-align: right;    
    float: left;
    width: 50%;
    font-size: 1.4em;
    color: #a88fd8;
    margin-bottom: 62px;

}


.container aside .recentPost {
    width: 100%;
    margin-bottom: 57px;

}

.recentPost li {
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 1.4em;    
}

.recentPost a {
    text-decoration: none;    
    color: #414A5A;
}

.recentPost i {
    color: #49CBCD;
    margin-right: 5pt;
    font-size: 5px;
    vertical-align: middle;
}

.recentPost li:hover {
    background-color: #485460;    
    border-radius: 3px;    
    padding-left: 20px; 
    box-sizing: border-box;      
}

.recentPost li:hover i {
    color: #FFF;
}

.recentPost li:hover span {
    color: #FFF;
}


.container aside .tags {
    width: 100%;
    /* background-color: brown; */

}


.tags a {
    text-decoration: none;
    color: #414A5A;
    font-size: 1.4em;
}

.options {
    width: 100%;
}

.container aside .boxTags {
    padding: 12px 20px;
    /* box-sizing: border-box; */
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fb;
    border-radius: 5px;    
    float: left;
}


.container aside .boxTags:hover{
    background-color: #49CBCD;
    color: white;

}
.boxPagination{
    /* background-color: red; */
    margin-left: 100px;

}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pagination > a,
.pagination > span {
    background-color: #f6fafb;
    color: #485460;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 17px;
    /* margin: 0 3px 5px; */
    margin: 0 auto 5px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}
.pagination > span {
    pointer-events: none;
}
.pagination svg {
    height: 24px;
    width: 24px;
}
.pagination > a:hover {
    background-color: #485460;
    color: #fff;
}
.pagination > a.page-active {
    background-color: #485460;
    color: #fff;
}












